

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #5C2E7E;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 90vh;
}